body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}

#videoContainer {
    width: 100%;
    position: relative;
    z-index: -10;
}

#buttonPlay {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 150%);
    width: 150px;
    z-index: 0;
}

#buttonPlay:hover{
    cursor: pointer;
}

#skip {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 2rem;
    color: white;
    text-shadow: black 0 0 3px;
}

.roundVideo {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}